spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/sms_auth_db?useSSL=false&serverTimezone=UTC
    username: root
    password: Boss@8055
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: chavansanket279@gmail.com
    password: nhhpyghrvzmrtupt
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8081


jwt:
  secret: oenfoernfoienfondwofnwodfnowjnfijwqenfJ
  refresh-secret: oenfoernfoienfondwofnwodfnowjnfijwqenfJdpomddi
  expiration: 86400000
